  <style type="text/css">

    .form-control {
      margin-bottom: 3%;
    }

    .drop {
      padding: 15px;
      border: 2px #f1f1f1 dashed;
      border-radius: 5px;
      line-height: 34px;
    }

    .uploaded-image, .progress {
      width: 25%;
    }

    .tag-item, .tag-item > a {
      background: #428bca !important;
      color: #f8f8f8 !important;
    }

    input, .tag-item, .tags, .suggestion-item {
      font-family: 'Raleway', serif !important;
    }

    .suggestion-item {
      font-size: 14px !important;
    }

  </style>

  <div class="col-xs-6 col-md-3">

  </div>

  <div class="col-xs-6 col-md-6">
    <div class="cadastro">
      <h3>Encontrou um bichinho?</h3>
      <br>

      <div class="row">
        <div class="col-xs-8">
          <label>Nome/apelido</label><input type="text" class="form-control" placeholder="Nome/apelido" ng-model="nome" />
          <!--<label>Localização</label><input type="text" class="form-control" placeholder="Localização" ng-model="localizacao" />-->
        </div>
        <div class="col-xs-4 tipo">
          <label>Animal</label><select class="form-control" ng-model="selectedType" ng-options="animal.value as animal.name for animal in typeArray"></select>
        </div>
      </div>
      
      <div class="row">
        <div class="col-xs-12">
          <label>Endereço da Localização</label><google-places location=location></google-places>
        </div>
        <div class="col-xs-12">
          <label>Tags</label>
          <tags-input ng-model="tagArray" placeholder="Tags">
            <auto-complete source="loadTags()"></auto-complete>
          </tags-input>
        </div>
        <div class="col-xs-12">
          <label>Descrição</label><textarea cols="20" rows="5" class="form-control" ng-model="descricao"></textarea>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">

          <h4>Envio de imagens</h4>
            <div flow-init
                 flow-files-submitted="$flow.upload()"
                 flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]">
              <div class="drop" flow-drop ng-class="dropClass">
                <span class="btn btn-default" flow-btn>Selecione uma imagem</span>
                Ou arraste as imagens para esta área
              </div>

              <br/>

              <div>
                <div ng-repeat="file in $flow.files" class="gallery-box">
                  <span class="title">{{file.name}}</span>
                  <div class="thumbnail uploaded-image" ng-show="$flow.files.length">
                    <img flow-img="file" />
                  </div>
                  <div class="progress progress-striped" ng-class="{active: file.isUploading()}">
                    <div class="progress-bar" role="progressbar"
                         aria-valuenow="{{file.progress() * 100}}"
                         aria-valuemin="0"
                         aria-valuemax="100"
                         ng-style="{width: (file.progress() * 100) + '%'}">
                      <span class="sr-only">{{file.progress()}}% Enviado</span>
                    </div>
                  </div>
                  <div class="btn-group">
                    <a class="btn btn-xs btn-danger" ng-click="file.cancel()">
                      Remover
                    </a>
                  </div>
                </div>
                <div class="clear"></div>
              </div>
            </div>

        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-default form-control" ng-click="cadastrar()">Cadastrar</button>
        </div>
      </div>  

    </div>
  </div>

  <div class="col-xs-6 col-md-3">
  </div>