
  <style>

    body {
      font-family: 'Raleway', serif;
    }

    h1, h2, h3, h4, nav {
      font-family: 'Raleway', serif;
    }

    .animal-localization > p > img {
      width: 10%;
    }

    .animal-profile-picture > img {
      width: 70%;
    }

    .thumbnail {
      background-color: #f8f8f8;
    }

    .participants {
      padding: 7%;
    }

    .participants > .row {
      margin-top:7%;
    }

    .participant {
      width:80%;
    }

    .main-content {
      margin-left: 3%;
    }

    .timeline {
      /*height: 60%;
      overflow: scroll; overflow-x:hidden;*/
      margin-bottom:10%;

      padding: 2%;
      border: 1px solid #eee;
      border-radius: 5px;
      /* -webkit-box-shadow: -3px -3px 15px 0px rgba(0,70,127,1), 3px 3px 15px 0px rgba(0,0,0,0.25);
      -moz-box-shadow: -3px -3px 15px 0px rgba(0,70,127,1), 3px 3px 15px 0px rgba(0,0,0,0.25);
      box-shadow: -3px -3px 15px 0px rgba(0,0,0,0.25), 3px 3px 15px 0px rgba(0,0,0,0.25);
      */
      box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.25), 0px -2px 2px 0px rgba(0,0,0,0.25);
      background-color: #f8f8f8;
    }

    .border-divider {
      border:1px solid #00467F;
      margin-bottom: 10%;
    }

    .comentarios {
      max-height: 70%;
      overflow: scroll; overflow-x:hidden;
    }

    .comentario-area {
      margin-bottom: 10%;
    }

    .comentarios-vazio {
    	padding: 3% 0%;
		text-align: center;
		color: #a8a8a8;
    }

    .timeline-event > .img-circle, .comentario > .img-circle {
      width:8%;
    }

    .evento-data {
    	color: #afafaf;
    }

    .comentario {
    	margin-bottom: 5%;
    }

    .comentario-data {
    	color: #a8a8a8;
    }

  </style>
      <!-- Animal pictures -->
      <div class="col-xs-6 col-md-3">
          
          <div class="thumbnail">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvpzklquo6tl4Uy1aaFe1xkVPpG6YJ0caHwhGsxvyxNXIWGeAAgg" alt="...">
            <div class="caption">
              <h3>{{ animal.nome }}</h3>
              <div class="animal-situacao">
                <p>Situação atual: {{ animal.situacao }}</p>
              </div>
              <div class="animal-descricao">
                <p> {{ animal.descricao }} </p>
              </div>
              <div class="animal-localization">
                <p><img src="http://www.clipartbest.com/cliparts/dTr/ena/dTrenagpc.png" />Onde estou</p><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3969.1194777053934!2d-35.203243!3d-5.838779!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7b2ff8b8d7cad35%3A0x6963e8bee25a0372!2sUniversidade+Federal+do+Rio+Grande+do+Norte!5e0!3m2!1spt-BR!2s!4v1408767901606" width="235" height="100" frameborder="0" style="border:0"></iframe>
              </div>
              <br>
              <a href="#"><span class="glyphicon glyphicon-plus"></span> Mais fotos</a>
            </div>
          </div>

          <div class="row participants">
            <h4>Usuários participantes</h4>
            <div class="row">
              <div class="col-xs-6 col-sm-3">
                <img src="http://files.softicons.com/download/internet-icons/user-icons-by-2shi/png/256/user5.png" class="img-circle participant">
              </div>
              <div class="col-xs-6 col-sm-3">
                <img src="http://b.dryicons.com/images/icon_sets/shine_icon_set/png/256x256/female_business_user.png" class="img-circle participant">
              </div>
              <div class="col-xs-6 col-sm-3">
                <img src="http://www.fancyicons.com/download/?id=1878&t=png&s=256" class="img-circle participant">
              </div>
              <div class="col-xs-6 col-sm-3">
                <img src="http://www.selcuk.edu.tr/dosyalar/images/070/bayan%20icon.png" class="img-circle participant">
              </div>
            </div>

            <div class="row">
              <div class="col-xs-6 col-sm-3">
                <img src="http://www.fancyicons.com/download/?id=1878&t=png&s=256" class="img-circle participant">
              </div>
              <div class="col-xs-6 col-sm-3">
                <img src="http://www.selcuk.edu.tr/dosyalar/images/070/bayan%20icon.png" class="img-circle participant">
              </div>
              <div class="col-xs-6 col-sm-3">
                <img src="http://www.fancyicons.com/download/?id=1878&t=png&s=256" class="img-circle participant">
              </div>
              <div class="col-xs-6 col-sm-3">
                <img src="http://b.dryicons.com/images/icon_sets/shine_icon_set/png/256x256/female_business_user.png" class="img-circle participant">
              </div>
            </div>
          </div>

      </div>

      <!-- Animal info and timeline -->
      <div class="col-xs-12 col-sm-6 col-lg-8 main-content">
        
        <div class="timeline">

        	<div class="timeline-event timeline-event-left" ng-repeat="evento in eventos">
	            <img src="http://upload.wikimedia.org/wikipedia/commons/4/49/Gnome-Wikipedia-user-female.png" class="img-circle pull-left">
	            <p>{{ evento.texto }}</p>
	            <p class="evento-data">Em {{ evento.data }}</p>
	            <div style="clear:both"></div>
          	</div>

          	<hr>

        </div>

        <div class="border-divider"></div>

        <h3>Comentários</h3>

        <div class="comentarios">
        	
        	<div class="comentarios-vazio" ng-show="comentarios.length == 0">
				<p> Nenhum comentário </p>
	      	</div>
          	
          	<div ng-show="comentarios.length > 0" ng-repeat="comentario in comentarios">
          		
          		<hr>

	        	<div class="comentario comentario-left">
	        		<img src="http://upload.wikimedia.org/wikipedia/commons/4/49/Gnome-Wikipedia-user-female.png" class="img-circle pull-left">
	            	<p>{{ comentario.texto }}</p>
	            	<p class="comentario-data">Em {{ comentario.data }}</p>
	            	<div style="clear:both"></div>
	        	</div>

	  		</div>
        </div>

        <div class="comentario-area">
          <textarea cols="15" rows="3" class="form-control" ng-model="texto"></textarea>
          <br>
          <button class="btn btn-default" ng-click="comentar()">Comentar</button>
        </div>

      </div>
